<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <!-- Iterating over the 'users' array and displaying user names -->
      <!-- Each user name is a link that navigates to the user details page for that user -->
      <!-- Router link to navigate to user details page -->
      <a 
        [routerLink]="['/users', user.id, user.name]" 
        href="#"
        class="list-group-item"
        *ngFor="let user of users"> <!-- Iterating over users array -->
        {{ user.name }} <!-- Displaying user name -->
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <!-- Router outlet for displaying user details component -->
    <router-outlet></router-outlet>
  </div>
</div>
