<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <!-- Iterating over the 'servers' array and displaying server names -->
      <!-- Each server name is a link that navigates to the single server component -->
      <!-- Router link to navigate to a single server component -->
      <!-- Query parameters to allow editing -->
      <!-- Fragment for scrolling to a specific element -->
      <a 
        [routerLink]="['/servers', server.id]" 
        [queryParams]="{allowEdit: server.id === 3 ? '1' : '0'}"
        fragment="loading"
        href="#"
        class="list-group-item"
        *ngFor="let server of servers"> <!-- Iterating over servers array -->
        {{ server.name }} <!-- Displaying server name -->
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <!-- Router outlet for displaying server details or editing server component -->
    <router-outlet></router-outlet>
  </div>
</div>
